@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Aquí van todas las variables que utilizaremos en nuestro proyecto */

:root {
  /* Fonts */
  --rc-font-primary: 'Roboto', sans-serif;
  --rc-font-secondary: 'Mooli', sans-serif;

  /* Colors */
  --rc-color-white: #a8c0c7;
  --rc-color-light-gray: #6888a6;
  --rc-color-blue: #3b4a7d;
  --rc-color-dark: #29335b;

  /* Backgrounds */
  --rc-bg-primary: var(--rc-color-white);
  --rc-bg-secondary: var(--rc-color-light-gray);
  --rc-bg-accent: var(--rc-color-blue);

  /* Text Colors */
  --rc-text-dark: var(--rc-color-dark);
  --rc-text-light: var(--rc-color-white);

  /* Font Sizes */
  --rc-font-size-h1: 3em;
  --rc-font-size-h2: 2em;
  --rc-font-size-h3: 1.5em;
  --rc-font-size-text: 1.2em;
  --rc-font-size-link: 1.1em;

  /* Spacings */
  --rc-gap-xl: 50px;
  --rc-gap-lg: 30px;
  --rc-gap-md: 20px;
  --rc-gap-sm: 10px;

  --rc-padding-xl: 60px;
  --rc-padding-lg: 30px;
  --rc-padding-md: 20px;
  --rc-padding-sm: 10px;

  --rc-margin-section: 130px;

  /* Borders */
  --rc-radius-md: 5px;
  --rc-radius-lg: 15px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--rc-font-primary);
}

flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--rc-gap-lg);
}

.common-padding {
  padding: var(--rc-padding-lg) var(--rc-padding-xl);
}

/* Header */
#principal_header {
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: var(--rc-bg-primary);
}

#principal_header > h1 {
  font-size: var(--rc-font-size-h3);
}

.menu {
  display: none;
}

@media (max-width: 700px) {
  #principal_header {
    padding: var(--rc-gap-lg);
  }

  #principal_header > nav {
    display: none;
  }

  .menu {
    display: block;
    cursor: pointer;
    max-width: 50px;
    max-height: 50px;
  }
}

/* Hero Section */
#hero {
  padding-top: 200px;
  gap: var(--rc-gap-xl);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-evenly;
}

#hero > div {
  flex-direction: column;
  gap: var(--rc-gap-lg);
  width: 400px;
  align-items: flex-start;
}

#hero > div > h1 {
  font-size: var(--rc-font-size-h1);
}

#hero > div > p {
  font-size: var(--rc-font-size-h3);
  opacity: 0.7;
}

#hero > img {
  width: 300px;
  border-radius: var(--rc-radius-lg);
}

@media (max-width: 1040px) {
  #hero {
    padding: var(--rc-gap-lg);
    padding-top: 150px;
  }

  #hero > div {
    width: 300px;
    align-items: center;
  }

  #hero > div > h2 {
    font-size: var(--rc-font-size-h2);
    text-align: center;
  }

  #hero > div > p {
    text-align: center;
  }

  #hero > img {
    width: 350px;
  }
}

@media (min-width: 1400px) {
  #hero {
    justify-content: space-around;
  }
}

/* Companies Section */
#companies {
  flex-direction: column;
  margin-top: var(--rc-margin-section);
  gap: var(--rc-gap-md);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

#companies > div {
  width: 90%;
  background-color: var(--rc-bg-secondary);
  border-radius: var(--rc-radius-lg);
  justify-content: space-around;
  max-width: 680px;
  min-width: 340px;
  display: flex;
  justify-self: center;
}

#companies > h2 {
  font-size: var(--rc-font-size-h2);
  text-align: center;
}

#companies > div > img {
  width: 15%;
}

@media (max-width: 700px) {
  #principal_header {
    padding: var(--rc-gap-lg);
  }

  #principal_header > nav {
    display: none;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  #companies {
    margin-top: 100px;
  }
}

/* Testimonials Section */
#testimonials {
  flex-direction: column;
  margin-top: var(--rc-margin-section);
}

#testimonials > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

#testimonials > h2 {
  font-size: var(--rc-font-size-h2);
  text-align: center;
}

.testimonial {
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  border-radius: var(--rc-radius-lg);
  background-color: var(--rc-bg-secondary);
  padding: var(--rc-padding-md);
}

.testimonial > img {
  width: 200px;
  border-radius: 100%;
  border: 2px solid var(--rc-bg-secondary);
  display: block;
  margin: auto;
}

.testimonial > h3 {
  text-align: center;
  font-size: var(--rc-font-size-h3);
}

.testimonial > p {
  text-align: center;
  font-size: var(--rc-font-size-h4);
}

@media (max-width: 700px) {
  #principal_header {
    padding: var(--rc-gap-lg);
  }

  #principal_header > nav {
    display: none;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  #companies {
    margin-top: 100px;
  }

  #testimonials > h2 {
    font-size: var(--rc-font-size-h2);
  }
}

/* Footer */
#footer {
  margin-top: var(--rc-margin-section);
  min-height: 30vh;
  justify-content: space-around;
  padding: var(--rc-padding-xl);
  gap: var(--rc-gap-xl);
  background-color: var(--rc-bg-secondary);
  flex-direction: row;
  display: flex;
}

#footer > ul {
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
}

#footer > ul > li:first-child {
  font-weight: bolder;
  font-size: var(--rc-font-size-text);
}
